# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
!*.py

# Operating System files
.DS_Store
.vscode/

# IDE files
*.sublime-project
*.sublime-workspace

# Data and model files
*.csv
*.json
*.sqlite3
models/